@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to API Portal</h1>
</div>


<div class="text-center">
    <a asp-area="" asp-controller="Course" asp-action="Index" class="btn btn-primary m-2">
        View Courses
    </a>

    <a asp-area="" asp-controller="Instructor" asp-action="Index" class="btn btn-primary m-2">
        View Instructors
    </a>
</div>